<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds">

    <appender name="FILEOUT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/console.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - %-5level - %logger{0}\(%line\): %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/console.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILEOUT"/>
    </root>

    <logger name="com.treelogic.analytics.Application" level="WARN">
        <appender-ref ref="FILEOUT"/>
    </logger>

    <logger name="org.springframework.context.annotation.AnnotationConfigApplicationContext" level="WARN">
        <appender-ref ref="FILEOUT"/>
    </logger>

    <logger name="org.springframework.jmx.export.annotation.AnnotationMBeanExporter" level="WARN">
        <appender-ref ref="FILEOUT"/>
    </logger>

</configuration>